.hover-container {
    position: relative;
    /* overflow: hidden; */
}

.images-div {
    position: relative;
    text-align: center;
}

.hover-image {
    width: 40%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.hover-container:hover .hover-image {
    transform: scale(1.2);
}

.text-center {
    position: absolute;
    margin-left: 20px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
  }
  
.image-text {
    margin-top: 5px;
    font-size: medium;
    font-weight: 600;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
